/* Header IMG */

.header {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    padding-top: 180px;
    padding-bottom: 180px;
}


/* IMG's */

.callout {
  display: table;
  width: 100%;
  height: 400px;
  color: #fff;
  background: url(../img/callout.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gbr {
  display: table;
  width: 100%;
  height: 400px;
  color: #fff;
  background: url(../img/gbr.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fiji {
  display: table;
  width: 100%;
  height: 400px;
  color: #fff;
  background: url(../img/fiji.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pacificisland {
  display: table;
  width: 100%;
  height: 400px;
  color: #fff;
  background: url(../img/pacificisland.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}